<div style="overflow: hidden;">
  <div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
    <div class="row">
      <div class="col-md-10">
        <h1 style="color: black; text-align: center; margin-left: 30px;">Drugs</h1>
      </div>
      <div class="col-md-2">
        <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
          class="btn btn-primary" (click)="LogOut()">Logout</button>
        <button type="button" [routerLink]="['/admin']" style="padding: 5px; width:80px; margin: 10px;"
          class="btn btn-primary">Back</button>

      </div>
    </div>
  </div>





  <div class="rowcontent" style="padding-top: 2%;">
    <div class="container">
      <div class="row content">
        <div class="boxContainer">
          <table id="elementsContainer" class="col-md-8">
            <tr>
              <td>
                <input type="text" placeholder="Search Drug" class="Search">
              </td>
              <td>
                <a href="#"><i class="fa-solid fa-magnifying-glass-plus" id="material-icons"></i></a>
              </td>
            </tr>
          </table>
          <div id="addsupplier" class="col-md-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              AddDrug
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Drug</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">




                    <form method="post" #form="ngForm" (ngSubmit)="onSubmit()">
                      <div class="    form-group">
                        <label for="validationCustom01" class="form-label">Name</label>
                        <input type="text" class="form-control" name="drugName" [(ngModel)]="drugL.drugName" required>

                      </div>
                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Quantity</label>
                        <input type="text" class="form-control" name="drugQuantity" [(ngModel)]="drugL.drugQuantity"
                          required>

                      </div>

                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Mfd Date</label>
                        <input type="date" class="form-control" name="mfdDate" [(ngModel)]="drugL.mfdDate" required>

                      </div>


                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control" name="expDate" [(ngModel)]="drugL.expDate" required>

                      </div>


                      <div class="form-group">
                        <label for="validationCustom05" class="form-label">price</label>
                        <input type="text" class="form-control" name="drugPrice" [(ngModel)]="drugL.drugPrice" required>

                      </div>

                      <div class="form-group">
                        <label for="validationCustom05" class="form-label">Supplier Id</label>
                        <input type="text" class="form-control" name="supplierId" [(ngModel)]="drugL.supplierId"
                          required>

                      </div>

                      <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
                          [routerLink]="['/admindrug']">Save
                          changes</button>
                      </div>
                    </form>





                  </div>

                </div>
              </div>
            </div>


            <!-- update code for drug-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModel" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Drug</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form method="post" #form="ngForm" (ngSubmit)="UpdateDrug(drugL)">


                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Drug Id</label>
                        <input type="text" class="form-control" name="drugId" [(ngModel)]="drugL.drugId"
                          value="{{drugL.drugId}}">
                      </div>

                      <div class="    form-group">
                        <label for="validationCustom01" class="form-label">Name</label>
                        <input type="text" class="form-control" name="drugName" [(ngModel)]="drugL.drugName"
                          value="{{drugL.drugName}}">

                      </div>



                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Quantity</label>
                        <input type="text" class="form-control" name="drugQuantity" [(ngModel)]="drugL.drugQuantity"
                          value="{{drugL.drugQuantity}}">

                      </div>

                      <div class="form-group">
                        <label for="validationCustom02" class="form-label">Mfd Date</label>
                        <input type="date" class="form-control" name="mfdDate" [(ngModel)]="drugL.mfdDate"
                          value="{{drugL.mfdDate}}">

                      </div>


                      <div class=" form-group">
                        <label for="validationCustom02" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control" name="expDate" [(ngModel)]="drugL.expDate"
                          value="{{drugL.expDate}}">

                      </div>


                      <div class=" form-group">
                        <label for="validationCustom05" class="form-label">price</label>
                        <input type="text" class="form-control" name="drugPrice" [(ngModel)]="drugL.drugPrice"
                          [(ngModel)]="drugL.drugPrice">

                      </div>

                      <div class="form-group">
                        <label for="validationCustom05" class="form-label">Supplier Id</label>
                        <input type="text" class="form-control" name="supplierId" [(ngModel)]="drugL.supplierId"
                          value="drugL.supplierIds">

                      </div>

                      <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>








          </div>
        </div>
        <br>

        <div class="drugstable">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <h4>Drug Id</h4>
                </th>
                <th>
                  <h4>Drug Name</h4>
                </th>
                <th>
                  <h4>Quantity</h4>
                </th>
                <th>
                  <h4>Price</h4>
                </th>
                <th>
                  <h4>Expiry Date</h4>
                </th>
                <th>
                  <h4>Supplier Id</h4>
                </th>
                <th>
                  <h4>Action</h4>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let drug of drugs">
                <td>
                  {{drug.drugId}}
                </td>
                <td>
                  {{drug.drugName}}
                </td>
                <td>
                  {{drug.drugQuantity}}
                </td>
                <td>
                  {{drug.drugPrice}}
                </td>
                <td>
                  {{drug.expDate}}
                </td>
                <td>
                  {{drug.supplierId}}
                </td>
                <td>
                  <button type="button" id=edit data-bs-toggle="modal" data-bs-target="#exampleModel"
                    (click)="SetDrugValues(drug)"><i class="fa-solid fa-pen-to-square"></i></button>

                  <button type="button" id=delete (click)="DeleteDrug(drug)"><i
                      class="fa-solid fa-person-circle-minus"></i></button>
                </td>

              </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>

  </div>
  <div class="Container" id="footer"
    style="color:rgb(0, 0, 0); text-align: center;  background-color: #0bc1f9; padding: 10px;">
    <footer>
      <span>
        <strong>
          Best Care Pharmacy -
          Contact : gjssravani@gmail.com
        </strong>
      </span>
    </footer>
  </div>
</div>
