<div class="start" style=" overflow: hidden;">
  <div class="Container" style="color:whitesmoke; background-color:rgb(187, 243, 250); padding: 10px;">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="height:40px; margin:10px;">
          <img class="logo" src="https://w7.pngwing.com/pngs/748/441/png-transparent-logo-pharmacy-pills-miscellaneous-trademark-pharmaceutical-drug-thumbnail.png" alt="">
          <h1 style="color: black; margin-left: 30px; position: relative; top:-45px; left:40px; font-style: italic;">
           BEST CARE PHARMACY</h1>

        </div>

      </div>
      <div class="col-md-4">
        <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
          class="btn btn-primary">Home</button>
        <button type="button" [routerLink]="['/about']" style="padding: 5px; width:80px; margin: 10px;"
          class="btn btn-primary">About</button>
        <button [routerLink]="['/login']" id="login">Login</button>
        <button [routerLink]="['/signup']" id="signup">SignUp</button>

      </div>
    </div>
  </div>

  <div class="bodyimg"
    style="background-image: url(https://cdn.winsightmedia.com/platform/files/public/2019-10/background/david-rogers_1570740371.jpg?VersionId=rcNx7r5OCBIqI0GOxpy.evSS6YqcsMQa); height:621px; background-size: cover; ">
    <p>
       <span></span> <span></span><span></span> 
    
    </p>
  </div>


  <div class="Container" id="footer"
    style="color:rgb(0, 0, 0); text-align: center;  background-color:rgb(120, 152, 179); padding: 10px;">
    <footer>
      <span>
        <strong>
          Best Care Pharmacy -
          Contact : gjssravani@gmail.com
        </strong>
      </span>
    </footer>
  </div>
</div>
